html{
  box-sizing: border-box;
}
*,
*::before,
*::after{
  box-sizing: inherit;
}

body{
  font-family: 'Fira Sans', sans-serif;
  font-weight: 400;
  background-color: #171919;
  color: #fff;
  text-transform: uppercase;
}

a{
  display: inline-block;
  text-decoration: none;
  color: #fff;
}

ul,
li{
   list-style: none;
   margin: 0;
   padding: 0;
}
.container{
  min-width: 1920;
  margin: 0 auto;
}

.headline-left{
  font-size: 22px;
  line-height: 32px;
  letter-spacing: 7.33333px;
  color: #FFFFFF;
  opacity: 0.5;
  padding-left: 103px;
  position: relative;
  display: inline-block; /*можно применять блочные стили*/

  &::before{
    content: "";  
    position: absolute;
    width: 80px;
    height: 1px;
    background-color: #fff;
    left: 0;
    top: 50%;
  }
}

.title{
  span{
    font-size: 200px;
    color: rgba(#fff, .02);
    font-weight: 800;
    position: relative;
    transform: translateX(-50px);// смещаем текст по X влево на -50px, нужно указывать display: inline-block, а то не будет работать
    display: inline-block;
  }
  //если хотим позиционировать какой-то объект, то используем position
  h3{
    position: absolute;
    top: 0;
    right: -5px;
  //паркуем span в верхний правый угол
    margin: 0;
    color: #fff;
    font-size: 80px;
    &::after{
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      width: 80px;
      height: 1px;
      background-color: $green;
    }
  }
}

.subtitle {
  display: inline-block;
  text-align: right;
  // чтобы поставить текст вправо выставляем d:i-b и t-a:r 
    &__head{
      font-weight:800;
      font-size: 40px;
      span{
        font-weight: 100;
      }
    }
}

.btn{
  font-weight: 800;
  font-size: 40px;
  line-height: 36px;
  span{
    padding: 17px 57px 15px 17px;
    background-color: $green;
    display: inline-block;
    margin-left: 19px;
    position: relative;
    &::before{
      content: "";  
      position: absolute;
      width: 20px;
      height: 1px;
      background-color: #fff;
      top: 50%;
      left: -10px;
    }
    &::after{
      content: "";
      position: absolute;
      width: 25px;
      height: 21px;
      background-image: url(../images/arrows-right.svg);
      top: 50%; // выравниваем относительно span 
      right: 17px;
      transform: translateY(-50%)
    }
  }
}


